* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  direction: rtl;
  font-family: iranYekan;
  background-color: #f7f7f7;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid #C5CFBB;
  border-radius: 0;
  background-color: #fff;
  width: 100vw;
  padding: 7px 0;
  position: fixed;
  bottom: 0;
}

.mobile-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-size: 400;
  color: #333;
}

.mobile-menu a img {
  margin-bottom: 2px;
}

.mobile-menu a:hover {
  color: #214E94;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.golab-baner {
  width: 90vw;
  height: auto;
  margin: 1.3rem 0;
}

.golab-baner img {
  width: 100%;
}

.category-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 0.75rem 2rem;
  overflow: auto;
}

.category-1 li {
  margin: 0 0.4rem;
}

.category-1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-size: 100;
  color: #333;
  text-align: center;
}

.category-1 a:hover {
  color: #FF5C39;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.category-1 img {
  width: 4.3rem;
  height: 4.3rem;
  margin-bottom: 0.9rem;
}

.lavashak-baner {
  width: 95vw;
  height: auto;
  margin: 1.3rem 0;
}

.lavashak-baner img {
  width: 100%;
}

.category-2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 95vw;
  overflow: auto;
  margin: 0.5rem 0;
}

.category-2-list li {
  width: 18rem;
  height: auto;
  margin: 0 0.3rem;
}

.category-2-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-size: 300;
  color: #333;
  text-align: center;
  width: 100%;
}

.category-2-list a:hover {
  color: #F62C00;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.category-2-list img {
  background-color: #fff;
  width: 3.9rem;
  height: 3.9rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.toy-baner {
  width: 95vw;
  height: auto;
  margin: 1.5rem 0;
}

.toy-baner img {
  width: 100%;
}

.baners-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spices-bath-baner {
  width: 95vw;
  height: auto;
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spices-bath-baner img {
  width: 100%;
}

.spices-bath-baner img {
  margin: 7px 0;
}

.rice-matress-lamp-clock-baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 98vw;
  margin: 1.3rem 0;
}

.rice-matress-lamp-clock-baner img {
  width: 50%;
  height: auto;
  padding: 7px;
}

.ghahveh-baner {
  width: 95vw;
  height: auto;
  margin: 1rem 0;
}

.ghahveh-baner img {
  width: 100%;
}

.tanaghgholat-padari-baner {
  width: 95vw;
  height: auto;
  margin: 1.2rem 0;
}

.tanaghgholat-padari-baner img {
  width: 100%;
}

.tanaghgholat-padari-baner img {
  margin: 4px 0;
}

.barghi-zivaralat-khorma-roghan-baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95vw;
}

.barghi-zivaralat-khorma-roghan-baner img {
  width: 50%;
  height: auto;
  margin: 7px 0;
}

.tajrobeh-kharid-baner {
  width: 95vw;
  height: auto;
  margin: 2rem 0;
}

.tajrobeh-kharid-baner img {
  width: 100%;
}

footer {
  background-color: #fff;
  padding: 3rem 0;
}

.basalam-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: initial;
  text-align: center;
}

.basalam-benefit div {
  background-color: initial;
  margin: 10px;
}

.basalam-benefit img {
  background-color: initial;
  width: 3rem;
  height: 3rem;
}

.basalam-benefit h5 {
  background-color: initial;
}

.download-app-section {
  background-color: #fff;
  text-align: center;
  padding: 0 5px;
}

.download-app-section h2 {
  background-color: initial;
  margin: 1rem 0;
}

.download-app-section a {
  font-size: 1.3rem;
  font-size: 300;
  color: #333;
  background-color: initial;
}

.download-app-section a:hover {
  color: #F62C00;
}

.download-app-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-app-section img {
  width: 27%;
}

.offPrice-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.offPrice-email-container h5 {
  margin: 5px 0;
}

.offPrice-email-container input {
  border: 2px solid #C5CFBB;
  border-radius: 10px;
  padding: 0.9rem;
  width: 55vw;
  outline: none;
}

.offPrice-email-container input::-webkit-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input:-ms-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input::-ms-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input::placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input:focus {
  border: 2px solid #FF5C39;
  border-radius: 10px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.offPrice-email-container button {
  font-size: 1rem;
  font-size: 300;
  color: #fff;
  border: 0 solid #333;
  border-radius: 10px;
  background-color: #FF5C39;
  width: 25vw;
  padding: 0.9rem 0;
}

.offPrice-email-container button:hover {
  background-color: #F62C00;
}

.logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin: 2rem 0.9rem;
}

.logos-container img {
  background-color: initial;
  width: 25%;
  height: auto;
  margin: 0 0.7rem;
}
/*# sourceMappingURL=sassStyles.css.map */