* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  direction: rtl;
  font-family: iranYekan;
  background-color: #f7f7f7;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid #f5f5f5;
  border-radius: 0;
  background-color: #fff;
  width: 100vw;
  padding: 7px 0;
  position: fixed;
  bottom: 0;
}
.mobile-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-size: 400;
  color: #333;
}
.mobile-menu a img {
  margin-bottom: 2px;
}
.mobile-menu a:hover {
  color: #214E94;
}

.large-header {
  display: none;
  width: 100vw;
  border-bottom: 2px solid #e7e6e6;
  padding: 0.5rem 2.5rem;
  background-color: #fff;
}
.large-header .section-1-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: initial;
  width: 100%;
  padding: 0.6rem 0;
}
.large-header .logo-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: initial;
  position: relative;
}
.large-header .basalam-logo {
  background-color: #fff;
  width: 5.5rem;
}
.large-header .search-icon {
  background-color: #fff;
  position: absolute;
  right: 8rem;
  width: 1.3rem;
}
.large-header input {
  background-color: #f5f5f5;
  width: 31rem;
  height: 3.3rem;
  margin: 0 1.5rem;
  padding: 0 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  letter-spacing: -0.5px;
}
.large-header .register-cart-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: initial;
}
.large-header .register-container, .large-header .cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
  font-size: 500;
  color: #000;
  background-color: initial;
  letter-spacing: -0.5px;
  border: none;
}
.large-header .register-container {
  margin-left: 1.4rem;
}
.large-header .register-container h5 {
  background-color: initial;
}
.large-header .register-container img {
  background-color: initial;
  width: 1.7rem;
  margin: 10px 0;
}
.large-header .cart-container {
  margin-right: 1.4rem;
}
.large-header .cart-container h5 {
  background-color: initial;
}
.large-header .cart-container img {
  width: 1.3rem;
  margin: 13px 0;
}
.large-header .menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  padding: 0.5rem 0;
  gap: 2.5rem;
}
.large-header .menu-list ul, .large-header .menu-list li {
  background-color: initial;
}
.large-header .menu-list a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-size: 500;
  color: #000;
  background-color: initial;
  letter-spacing: -1px;
}
.large-header .menu-list a h5 {
  background-color: initial;
}
.large-header .menu-list a:hover {
  color: #FF5C39;
}
.large-header .menu-list img {
  width: 0.9rem;
  margin: 0 5px;
}
.large-header .menu-list img:hover {
  color: #FF5C39;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .mobile-menu {
    display: none;
  }

  .large-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }

  .large-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 1.3rem;
  }
  .large-header input {
    width: 37.5rem;
  }
}
main, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.golab-baner {
  width: 90vw;
  height: auto;
  margin: 1.3rem 0;
}
.golab-baner img {
  width: 100%;
}

.category-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin: 0.75rem 0;
  overflow: auto;
}
.category-1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-size: 300;
  color: #333;
  text-align: center;
  margin: 0 0.4rem;
}
.category-1 a:hover {
  color: #FF5C39;
  transition: all linear 0.2s;
}
.category-1 img {
  width: 4.3rem;
  height: 4.3rem;
  margin-bottom: 0.9rem;
}

.lavashak-baner {
  width: 95vw;
  height: auto;
  margin: 1.3rem 0;
}
.lavashak-baner img {
  width: 100%;
}

.category-2-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95vw;
  overflow: auto;
  margin: 0.5rem 0;
}
.category-2-list li {
  width: 18rem;
  height: auto;
  margin: 0 0.3rem;
}
.category-2-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-size: 300;
  color: #333;
  text-align: center;
  width: 100%;
}
.category-2-list a:hover {
  color: #F62C00;
  transition: all linear 0.2s;
}
.category-2-list img {
  background-color: #fff;
  width: 3.9rem;
  height: 3.9rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.toy-baner {
  width: 95vw;
  height: auto;
  margin: 1.5rem 0;
}
.toy-baner img {
  width: 100%;
}

.baners-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spices-bath-baner {
  width: 95vw;
  height: auto;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spices-bath-baner img {
  width: 100%;
}
.spices-bath-baner img {
  margin: 7px 0;
}

.rice-matress-lamp-clock-baner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 98vw;
  margin: 1.3rem 0;
}
.rice-matress-lamp-clock-baner img {
  width: 50%;
  height: auto;
  padding: 7px;
}

.ghahveh-baner {
  width: 95vw;
  height: auto;
  margin: 1rem 0;
}
.ghahveh-baner img {
  width: 100%;
}

.tanaghgholat-padari-baner {
  width: 95vw;
  height: auto;
  margin: 1.2rem 0;
}
.tanaghgholat-padari-baner img {
  width: 100%;
}
.tanaghgholat-padari-baner img {
  margin: 4px 0;
}

.barghi-zivaralat-khorma-roghan-baner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95vw;
}
.barghi-zivaralat-khorma-roghan-baner img {
  width: 50%;
  height: auto;
  margin: 7px 0;
}

.tajrobeh-kharid-baner {
  width: 95vw;
  height: auto;
  margin: 2rem 0;
}
.tajrobeh-kharid-baner img {
  width: 100%;
}

@media (min-width: 640px) and (max-width: 767px) {
  .golab-baner {
    width: 80vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }

  .category-1 {
    margin: 0.75rem 1rem;
  }
  .category-1 a {
    margin: 0 0.3rem;
  }

  .lavashak-baner {
    width: 82vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }

  .category-2-list {
    width: 82vw;
  }
  .category-2-list li {
    margin: 0 1.4rem;
  }

  .toy-baner {
    width: 82vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }

  .spices-bath-baner img {
    width: 82vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img img {
    width: 100%;
  }

  .rice-matress-lamp-clock-baner {
    width: 84vw;
    margin: 1.3rem 0;
  }
  .rice-matress-lamp-clock-baner img {
    width: 50%;
    height: auto;
    padding: 7px;
  }

  .ghahveh-baner {
    width: 82vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }

  .tanaghgholat-padari-baner {
    width: 82vw;
    height: auto;
    margin: 1rem 0;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }

  .barghi-zivaralat-khorma-roghan-baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82vw;
  }

  .tajrobeh-kharid-baner {
    width: 82vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .golab-baner {
    width: 90vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }

  .category-1 {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .category-1 a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
    margin: 0.8rem 0.5rem;
  }
  .category-1 img {
    width: 5rem;
    height: 5rem;
  }

  .lavashak-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }

  .category-2-list {
    width: 92vw;
  }
  .category-2-list li {
    margin: 0 2.1rem;
  }
  .category-2-list a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
  }
  .category-2-list img {
    background-color: #fff;
    width: 4.3rem;
    height: 4.3rem;
    margin-bottom: 0.5rem;
  }

  .toy-baner {
    width: 92vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }

  .spices-bath-baner img {
    width: 92vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img img {
    width: 100%;
  }

  .rice-matress-lamp-clock-baner {
    width: 94vw;
    margin: 1.5rem 0;
  }
  .rice-matress-lamp-clock-baner img {
    width: 50%;
    height: auto;
    padding: 8px;
  }

  .ghahveh-baner {
    width: 92vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }

  .tanaghgholat-padari-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }

  .barghi-zivaralat-khorma-roghan-baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    margin: 10px 0;
  }

  .tajrobeh-kharid-baner {
    width: 92vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .golab-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }

  .category-1 {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .category-1 a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
    margin: 0.8rem 0.5rem;
  }
  .category-1 img {
    width: 5rem;
    height: 5rem;
  }

  .lavashak-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }

  .category-2-list {
    width: 92vw;
  }
  .category-2-list li {
    margin: 0 0.5rem;
  }
  .category-2-list a {
    font-size: 1.2rem;
    font-size: 300;
    color: #333;
  }
  .category-2-list img {
    background-color: #fff;
    background-size: 6rem;
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
  }

  .toy-baner {
    width: 92vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }

  .spices-bath-baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img {
    width: 100%;
  }
  .spices-bath-baner img {
    width: 49%;
  }

  .rice-matress-lamp-clock-baner {
    width: 94vw;
    margin: 1.5rem 0;
  }
  .rice-matress-lamp-clock-baner img {
    width: 25%;
    height: auto;
    padding: 8px;
  }

  .ghahveh-baner {
    width: 92vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }

  .tanaghgholat-padari-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner img {
    width: 49%;
  }

  .barghi-zivaralat-khorma-roghan-baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    margin: 10px 0;
  }
  .barghi-zivaralat-khorma-roghan-baner img {
    width: 23.5%;
  }

  .tajrobeh-kharid-baner {
    width: 92vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .golab-baner {
    width: 97vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }

  .category-1 {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .category-1 a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
    margin: 0.8rem 0.4rem;
  }
  .category-1 img {
    width: 5.5rem;
    height: 5.5rem;
  }

  .lavashak-baner {
    width: 97vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }

  .category-2-list {
    width: 92vw;
  }
  .category-2-list li {
    margin: 0 0.6rem;
  }
  .category-2-list a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
  }
  .category-2-list img {
    background-color: #fff;
    background-size: 6rem;
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
  }

  .toy-baner {
    width: 97vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }

  .spices-bath-baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img {
    width: 100%;
  }
  .spices-bath-baner img {
    width: 49.4%;
  }

  .rice-matress-lamp-clock-baner {
    width: 98vw;
    margin: 1.5rem 0;
    justify-content: space-between;
  }
  .rice-matress-lamp-clock-baner img {
    width: 25%;
    height: auto;
  }

  .ghahveh-baner {
    width: 97vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }

  .tanaghgholat-padari-baner {
    width: 97vw;
    height: auto;
    margin: 1.3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner img {
    width: 49.3%;
  }

  .barghi-zivaralat-khorma-roghan-baner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    margin: 1rem 0;
  }
  .barghi-zivaralat-khorma-roghan-baner img {
    width: 24%;
  }

  .tajrobeh-kharid-baner {
    width: 97vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 0 3.5rem 0;
}

.basalam-benefit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  flex-wrap: wrap;
  background-color: initial;
  text-align: center;
}
.basalam-benefit-container div {
  background-color: initial;
  margin: 10px;
}
.basalam-benefit-container img {
  background-color: initial;
  width: 3rem;
  height: 3rem;
}
.basalam-benefit-container h5 {
  background-color: initial;
}

.download-app-section {
  background-color: #fff;
  text-align: center;
  padding: 0 5px;
}
.download-app-section h2 {
  background-color: initial;
  margin: 1rem 0;
}
.download-app-section a {
  font-size: 1.3rem;
  font-size: 300;
  color: #333;
  background-color: initial;
}
.download-app-section a:hover {
  transition: all linear 0.1s;
  color: #F62C00;
}
.download-app-section div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: initial;
}
.download-app-section img {
  width: 27%;
}

.logo-menu-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100vw;
}

.menu-links-container {
  background-color: #fff;
  width: 95vw;
  margin: 1rem 0;
}
.menu-links-container details {
  background-color: initial;
  border-bottom: 1px solid #f5f5f5;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.menu-links-container summary, .menu-links-container .link-items, .menu-links-container a {
  background-color: initial;
}
.menu-links-container summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-size: 800;
  color: #333;
}
.menu-links-container .link-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.8rem;
  font-size: 500;
  color: #333;
  margin: 1.5rem 0;
}
.menu-links-container a {
  margin: 0.5rem 0;
}
.menu-links-container a:hover {
  color: #FF5C39;
}

.logo-menu-links-container {
  display: none;
  background-color: #fff;
  width: 60vw;
}
.logo-menu-links-container img {
  background-color: initial;
  margin-left: 1rem;
}
.logo-menu-links-container .link-group-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: initial;
}
.logo-menu-links-container .link-group-section section {
  background-color: initial;
  width: 30%;
}
.logo-menu-links-container .link-group-section h4 {
  font-size: 1.1rem;
  font-size: 300;
  color: #333;
  background-color: initial;
}
.logo-menu-links-container .link-items-lg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.8rem;
  font-size: 500;
  color: #333;
  background-color: initial;
  margin: 1rem 0;
}
.logo-menu-links-container a {
  background-color: initial;
  margin: 0.6rem 0;
}
.logo-menu-links-container a:hover {
  color: #FF5C39;
  cursor: pointer;
}

.email-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.offPrice-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 90vw;
  margin: 1rem 0;
}
.offPrice-email-container h5 {
  background-color: initial;
  margin: 5px 0;
}
.offPrice-email-container input {
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  background-color: initial;
  padding: 0.9rem;
  width: 55vw;
  outline: none;
}
.offPrice-email-container input::-moz-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #f5f5f5;
}
.offPrice-email-container input:-ms-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #f5f5f5;
}
.offPrice-email-container input::placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #f5f5f5;
}
.offPrice-email-container input:focus {
  border-color: #FF5C39;
  transition: all linear 0.1s;
}
.offPrice-email-container button {
  font-size: 1rem;
  font-size: 300;
  color: #fff;
  border: 0 solid #FF5C39;
  border-radius: 10px;
  background-color: #FF5C39;
  width: 25vw;
  padding: 0.9rem 0;
  cursor: pointer;
}
.offPrice-email-container button:hover {
  background-color: #F62C00;
  border-color: #F62C00;
  transition: all linear 0.2s;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  background-color: #fff;
  width: 85vw;
  margin: 1.5rem 0;
}
.social-media-container div {
  background-color: initial;
}
.social-media-container h4 {
  background-color: initial;
  width: 50%;
}
.social-media-container a {
  background-color: initial;
  margin: 0 0.6rem;
}
.social-media-container a img {
  width: 1.3rem;
  height: 1.3rem;
  background-color: initial;
}

.logos-desc-container {
  background-color: #fff;
}

.logos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 2rem 0.9rem;
}
.logos-container img {
  background-color: initial;
  width: 25%;
  height: auto;
  margin: 0 0.7rem;
}

.basalam-description-container {
  background-color: #fff;
  width: 100vw;
  margin: 1.5rem 0;
  padding: 0 2rem;
}
.basalam-description-container h4, .basalam-description-container p {
  background-color: initial;
}
.basalam-description-container h4 {
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  margin: 1.5rem 0;
}
.basalam-description-container p {
  font-size: 0.75rem;
  font-size: 300;
  color: #333;
  line-height: 1.2rem;
}

.copyWrite-container {
  background: #333;
  width: 100vw;
  margin-top: 1rem;
}
.copyWrite-container p {
  font-size: 0.7rem;
  font-size: 300;
  color: #fff;
  background-color: initial;
  padding: 1.2rem 0.7rem;
}

@media (min-width: 640px) and (max-width: 767px) {
  .basalam-benefit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    margin: 1.5rem 0;
  }
  .basalam-benefit-container div {
    width: 10rem;
  }
  .basalam-benefit-container img {
    margin-bottom: 1rem;
  }

  .download-app-section {
    width: 75vw;
  }
  .download-app-section h2 {
    margin: 0.7rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 30%;
  }

  .menu-links-container {
    width: 80vw;
  }

  .offPrice-email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75vw;
    margin: 2rem 0;
  }
  .offPrice-email-container h5 {
    font-size: 0.9rem;
  }
  .offPrice-email-container input {
    width: 58vw;
  }
  .offPrice-email-container button {
    width: 14vw;
  }

  .social-media-container {
    width: 70vw;
  }
  .social-media-container h4 {
    width: 60%;
  }

  .copyWrite-container p {
    padding: 1.2rem 3.5rem;
  }

  .logos-container {
    width: 70vw;
  }

  .basalam-description-container {
    width: 70vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .basalam-benefit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 1.5rem 0;
    font-size: 1rem;
  }
  .basalam-benefit-container div {
    width: 9.5rem;
  }
  .basalam-benefit-container img {
    margin-bottom: 1rem;
  }

  .download-app-section {
    width: 65vw;
  }
  .download-app-section h2 {
    margin: 0.7rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 29%;
  }

  .menu-links-container {
    width: 90vw;
  }
  .menu-links-container details {
    padding: 3rem 1.5rem;
  }
  .menu-links-container summary {
    font-size: 1rem;
    font-size: 800;
    color: #333;
  }
  .menu-links-container .link-items {
    font-size: 0.9rem;
    font-size: 500;
    color: #333;
  }

  .offPrice-email-container {
    align-items: flex-start;
    margin: 2.5rem 0;
  }
  .offPrice-email-container h5 {
    font-size: 1rem;
  }
  .offPrice-email-container input {
    width: 73vw;
  }
  .offPrice-email-container button {
    width: 15vw;
  }

  .social-media-container {
    width: 85vw;
  }
  .social-media-container h4 {
    width: 60%;
  }
  .social-media-container a img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .copyWrite-container p {
    font-size: 0.8rem;
    padding: 1.6rem 2.5rem;
  }

  .logos-container {
    width: 85vw;
  }
  .logos-container img {
    margin: 0 2rem;
  }

  .basalam-description-container {
    width: 80vw;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
  }

  .basalam-benefit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 50vw;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .basalam-benefit-container div {
    width: 9.5rem;
  }
  .basalam-benefit-container img {
    width: 3.7rem;
    height: 3.7rem;
    margin-bottom: 1rem;
  }

  .download-app-section {
    width: 30vw;
  }
  .download-app-section h2 {
    margin: 1.5rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 26%;
  }

  .logo-menu-email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1.5rem;
  }

  .logo-menu-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu-links-container {
    display: none;
  }

  .email-media-container {
    width: 32vw;
  }

  .offPrice-email-container {
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
  }
  .offPrice-email-container h5 {
    font-size: 1rem;
  }
  .offPrice-email-container form {
    width: 100%;
  }
  .offPrice-email-container input {
    width: 65%;
  }
  .offPrice-email-container button {
    width: 30%;
  }

  .social-media-container {
    width: 100%;
  }
  .social-media-container a img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .copyWrite-container p {
    font-size: 0.8rem;
    padding: 1.2rem 3rem;
  }

  .logos-desc-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 2.5rem;
  }

  .logos-container {
    width: 43vw;
  }
  .logos-container img {
    margin: 0 0.5rem;
  }

  .basalam-description-container {
    width: 45vw;
  }
  .basalam-description-container h4 {
    font-size: 1.2rem;
  }
  .basalam-description-container p {
    font-size: 0.8rem;
    margin: 1.5rem 0;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
  }

  .basalam-benefit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 57vw;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .basalam-benefit-container div {
    width: 25%;
  }
  .basalam-benefit-container img {
    width: 3.7rem;
    height: 3.7rem;
    margin-bottom: 1rem;
  }

  .download-app-section {
    width: 35vw;
  }
  .download-app-section h2 {
    margin: 1.5rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 27%;
  }

  .menu-links-container {
    display: none;
  }

  .offPrice-email-container {
    align-items: flex-start;
    margin: 2.5rem 0;
  }
  .offPrice-email-container h5 {
    font-size: 1rem;
  }
  .offPrice-email-container input {
    width: 73vw;
  }
  .offPrice-email-container button {
    width: 14vw;
  }

  .email-media-container {
    width: 30vw;
  }

  .offPrice-email-container {
    align-items: flex-start;
    width: 100%;
    margin: 1.5rem 0;
  }
  .offPrice-email-container h5 {
    font-size: 1rem;
    margin: 0.8rem 0;
  }
  .offPrice-email-container form {
    width: 100%;
  }
  .offPrice-email-container input {
    width: 72%;
  }
  .offPrice-email-container button {
    width: 25%;
  }

  .social-media-container {
    width: 100%;
  }
  .social-media-container h4 {
    width: 60%;
  }
  .social-media-container a img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .copyWrite-container p {
    font-size: 0.8rem;
    padding: 1.1rem 1.5rem;
  }

  .logos-desc-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 1rem;
  }

  .logos-container {
    width: 35vw;
  }
  .logos-container img {
    margin: 0 0.5rem;
  }

  .basalam-description-container {
    width: 45vw;
  }
  .basalam-description-container h4 {
    font-size: 1.2rem;
  }
  .basalam-description-container p {
    font-size: 0.85rem;
    margin: 1.5rem 0;
    line-height: 1.4rem;
  }
}/*# sourceMappingURL=sassStyles.css.map */