* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  direction: rtl;
  font-family: iranYekan;
  background-color: #f7f7f7;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid #C5CFBB;
  border-radius: 0;
  background-color: #fff;
  width: 100vw;
  padding: 7px 0;
  position: fixed;
  bottom: 0;
}

.mobile-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-size: 400;
  color: #333;
}

.mobile-menu a img {
  margin-bottom: 2px;
}

.mobile-menu a:hover {
  color: #214E94;
}

main, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.golab-baner {
  width: 90vw;
  height: auto;
  margin: 1.3rem 0;
}

.golab-baner img {
  width: 100%;
}

.category-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 0.75rem 2rem;
  overflow: auto;
}

.category-1 li {
  margin: 0 0.4rem;
}

.category-1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-size: 300;
  color: #333;
  text-align: center;
}

.category-1 a:hover {
  color: #FF5C39;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.category-1 img {
  width: 4.3rem;
  height: 4.3rem;
  margin-bottom: 0.9rem;
}

.lavashak-baner {
  width: 95vw;
  height: auto;
  margin: 1.3rem 0;
}

.lavashak-baner img {
  width: 100%;
}

.category-2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 95vw;
  overflow: auto;
  margin: 0.5rem 0;
}

.category-2-list li {
  width: 18rem;
  height: auto;
  margin: 0 0.3rem;
}

.category-2-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-size: 300;
  color: #333;
  text-align: center;
  width: 100%;
}

.category-2-list a:hover {
  color: #F62C00;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.category-2-list img {
  background-color: #fff;
  width: 3.9rem;
  height: 3.9rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.toy-baner {
  width: 95vw;
  height: auto;
  margin: 1.5rem 0;
}

.toy-baner img {
  width: 100%;
}

.baners-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spices-bath-baner {
  width: 95vw;
  height: auto;
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spices-bath-baner img {
  width: 100%;
}

.spices-bath-baner img {
  margin: 7px 0;
}

.rice-matress-lamp-clock-baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 98vw;
  margin: 1.3rem 0;
}

.rice-matress-lamp-clock-baner img {
  width: 50%;
  height: auto;
  padding: 7px;
}

.ghahveh-baner {
  width: 95vw;
  height: auto;
  margin: 1rem 0;
}

.ghahveh-baner img {
  width: 100%;
}

.tanaghgholat-padari-baner {
  width: 95vw;
  height: auto;
  margin: 1.2rem 0;
}

.tanaghgholat-padari-baner img {
  width: 100%;
}

.tanaghgholat-padari-baner img {
  margin: 4px 0;
}

.barghi-zivaralat-khorma-roghan-baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95vw;
}

.barghi-zivaralat-khorma-roghan-baner img {
  width: 50%;
  height: auto;
  margin: 7px 0;
}

.tajrobeh-kharid-baner {
  width: 95vw;
  height: auto;
  margin: 2rem 0;
}

.tajrobeh-kharid-baner img {
  width: 100%;
}

@media (min-width: 640px) and (max-width: 767px) {
  .golab-baner {
    width: 80vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }
  .category-1 {
    margin: 0.75rem 1rem;
  }
  .category-1 a {
    margin: 0 0.3rem;
  }
  .lavashak-baner {
    width: 82vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }
  .category-2-list {
    width: 82vw;
  }
  .category-2-list li {
    margin: 0 1.4rem;
  }
  .toy-baner {
    width: 82vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }
  .spices-bath-baner img {
    width: 82vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img img {
    width: 100%;
  }
  .rice-matress-lamp-clock-baner {
    width: 84vw;
    margin: 1.3rem 0;
  }
  .rice-matress-lamp-clock-baner img {
    width: 50%;
    height: auto;
    padding: 7px;
  }
  .ghahveh-baner {
    width: 82vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner {
    width: 82vw;
    height: auto;
    margin: 1rem 0;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }
  .barghi-zivaralat-khorma-roghan-baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 82vw;
  }
  .tajrobeh-kharid-baner {
    width: 82vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .golab-baner {
    width: 90vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }
  .category-1 {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-1 a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
    margin: 0.8rem 0.5rem;
  }
  .category-1 img {
    width: 5rem;
    height: 5rem;
  }
  .lavashak-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }
  .category-2-list {
    width: 92vw;
  }
  .category-2-list li {
    margin: 0 2.1rem;
  }
  .category-2-list a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
  }
  .category-2-list img {
    background-color: #fff;
    width: 4.3rem;
    height: 4.3rem;
    margin-bottom: 0.5rem;
  }
  .toy-baner {
    width: 92vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }
  .spices-bath-baner img {
    width: 92vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img img {
    width: 100%;
  }
  .rice-matress-lamp-clock-baner {
    width: 94vw;
    margin: 1.5rem 0;
  }
  .rice-matress-lamp-clock-baner img {
    width: 50%;
    height: auto;
    padding: 8px;
  }
  .ghahveh-baner {
    width: 92vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }
  .barghi-zivaralat-khorma-roghan-baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 92vw;
    margin: 10px 0;
  }
  .tajrobeh-kharid-baner {
    width: 92vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .golab-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }
  .category-1 {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-1 a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
    margin: 0.8rem 0.5rem;
  }
  .category-1 img {
    width: 5rem;
    height: 5rem;
  }
  .lavashak-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }
  .category-2-list {
    width: 92vw;
  }
  .category-2-list li {
    margin: 0 0.5rem;
  }
  .category-2-list a {
    font-size: 1.2rem;
    font-size: 300;
    color: #333;
  }
  .category-2-list img {
    background-color: #fff;
    background-size: 6rem;
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
  }
  .toy-baner {
    width: 92vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }
  .spices-bath-baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 92vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img {
    width: 100%;
  }
  .spices-bath-baner img {
    width: 49%;
  }
  .rice-matress-lamp-clock-baner {
    width: 94vw;
    margin: 1.5rem 0;
  }
  .rice-matress-lamp-clock-baner img {
    width: 25%;
    height: auto;
    padding: 8px;
  }
  .ghahveh-baner {
    width: 92vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner {
    width: 92vw;
    height: auto;
    margin: 1.3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner img {
    width: 49%;
  }
  .barghi-zivaralat-khorma-roghan-baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 92vw;
    margin: 10px 0;
  }
  .barghi-zivaralat-khorma-roghan-baner img {
    width: 23.5%;
  }
  .tajrobeh-kharid-baner {
    width: 92vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .golab-baner {
    width: 97vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .golab-baner img {
    width: 100%;
  }
  .category-1 {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-1 a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
    margin: 0.8rem 0.4rem;
  }
  .category-1 img {
    width: 5.5rem;
    height: 5.5rem;
  }
  .lavashak-baner {
    width: 97vw;
    height: auto;
    margin: 1.3rem 0;
  }
  .lavashak-baner img {
    width: 100%;
  }
  .category-2-list {
    width: 92vw;
  }
  .category-2-list li {
    margin: 0 0.6rem;
  }
  .category-2-list a {
    font-size: 1.1rem;
    font-size: 300;
    color: #333;
  }
  .category-2-list img {
    background-color: #fff;
    background-size: 6rem;
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
  }
  .toy-baner {
    width: 97vw;
    height: auto;
    margin: 1.5rem 0;
  }
  .toy-baner img {
    width: 100%;
  }
  .spices-bath-baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 97vw;
    height: auto;
    margin: 0.5rem 0;
  }
  .spices-bath-baner img {
    width: 100%;
  }
  .spices-bath-baner img {
    width: 49.4%;
  }
  .rice-matress-lamp-clock-baner {
    width: 98vw;
    margin: 1.5rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rice-matress-lamp-clock-baner img {
    width: 25%;
    height: auto;
  }
  .ghahveh-baner {
    width: 97vw;
    height: auto;
    margin: 1rem 0;
  }
  .ghahveh-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner {
    width: 97vw;
    height: auto;
    margin: 1.3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tanaghgholat-padari-baner img {
    width: 100%;
  }
  .tanaghgholat-padari-baner img {
    width: 49.3%;
  }
  .barghi-zivaralat-khorma-roghan-baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 97vw;
    margin: 1rem 0;
  }
  .barghi-zivaralat-khorma-roghan-baner img {
    width: 24%;
  }
  .tajrobeh-kharid-baner {
    width: 97vw;
    height: auto;
    margin: 2rem 0;
  }
  .tajrobeh-kharid-baner img {
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 0 0 3.5rem 0;
}

.basalam-benefit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: initial;
  text-align: center;
}

.basalam-benefit-container div {
  background-color: initial;
  margin: 10px;
}

.basalam-benefit-container img {
  background-color: initial;
  width: 3rem;
  height: 3rem;
}

.basalam-benefit-container h5 {
  background-color: initial;
}

.download-app-section {
  background-color: #fff;
  text-align: center;
  padding: 0 5px;
}

.download-app-section h2 {
  background-color: initial;
  margin: 1rem 0;
}

.download-app-section a {
  font-size: 1.3rem;
  font-size: 300;
  color: #333;
  background-color: initial;
}

.download-app-section a:hover {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  color: #F62C00;
}

.download-app-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: initial;
}

.download-app-section img {
  width: 27%;
}

.offPrice-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.offPrice-email-container h5 {
  margin: 5px 0;
}

.offPrice-email-container input {
  border: 2px solid #C5CFBB;
  border-radius: 10px;
  padding: 0.9rem;
  width: 55vw;
  outline: none;
}

.offPrice-email-container input::-webkit-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input:-ms-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input::-ms-input-placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input::placeholder {
  font-size: 1rem;
  font-size: bold;
  color: #C5CFBB;
}

.offPrice-email-container input:focus {
  border: 2px solid #FF5C39;
  border-radius: 10px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.offPrice-email-container button {
  font-size: 1rem;
  font-size: 300;
  color: #fff;
  border: 0 solid #333;
  border-radius: 10px;
  background-color: #FF5C39;
  width: 25vw;
  padding: 0.9rem 0;
  cursor: pointer;
}

.offPrice-email-container button:hover {
  background-color: #F62C00;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  background-color: #fff;
  width: 85vw;
  margin: 1.5rem 0;
}

.social-media-container div {
  background-color: initial;
}

.social-media-container h4 {
  background-color: initial;
  width: 50%;
}

.social-media-container a {
  background-color: initial;
  margin: 0 0.6rem;
}

.social-media-container a:hover {
  color: #F62C00;
}

.social-media-container a img {
  width: 1.3rem;
  height: 1.3rem;
}

.logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin: 2rem 0.9rem;
}

.logos-container img {
  background-color: initial;
  width: 25%;
  height: auto;
  margin: 0 0.7rem;
}

.basalam-description-container {
  background-color: #fff;
  width: 80vw;
  margin: 1.5rem 0;
}

.basalam-description-container h4, .basalam-description-container p {
  background-color: initial;
}

.basalam-description-container h4 {
  font-size: 0.9rem;
  font-size: 300;
  color: #333;
  margin: 1.5rem 0;
}

.basalam-description-container p {
  font-size: 0.75rem;
  font-size: 300;
  color: #333;
  line-height: 1.2rem;
}

.copyWrite-container {
  background: #333;
  width: 100vw;
  padding: 1.2rem 0.7rem;
  margin-top: 1rem;
}

.copyWrite-container p {
  font-size: 0.7rem;
  font-size: 300;
  color: #fff;
  background-color: initial;
}

@media (min-width: 640px) and (max-width: 767px) {
  .basalam-benefit-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 65vw;
    margin: 1.5rem 0;
  }
  .basalam-benefit-container div {
    width: 10rem;
  }
  .basalam-benefit-container img {
    margin-bottom: 1rem;
  }
  .download-app-section {
    width: 75vw;
  }
  .download-app-section h2 {
    margin: 0.7rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .basalam-benefit-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    margin: 1.5rem 0;
    font-size: 1rem;
  }
  .basalam-benefit-container div {
    width: 9.5rem;
  }
  .basalam-benefit-container img {
    margin-bottom: 1rem;
  }
  .download-app-section {
    width: 65vw;
  }
  .download-app-section h2 {
    margin: 0.7rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 29%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 3vw;
  }
  .basalam-benefit-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 50vw;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .basalam-benefit-container div {
    width: 9.5rem;
  }
  .basalam-benefit-container img {
    width: 3.7rem;
    height: 3.7rem;
    margin-bottom: 1rem;
  }
  .download-app-section {
    width: 30vw;
  }
  .download-app-section h2 {
    margin: 1.5rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 26%;
  }
}

@media (min-width: 1280px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 0.5vw;
  }
  .basalam-benefit-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 57vw;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .basalam-benefit-container div {
    width: 25%;
  }
  .basalam-benefit-container img {
    width: 3.7rem;
    height: 3.7rem;
    margin-bottom: 1rem;
  }
  .download-app-section {
    width: 35vw;
  }
  .download-app-section h2 {
    margin: 1.5rem 0;
  }
  .download-app-section a {
    font-size: 1.4rem;
    font-size: 500;
    color: #333;
  }
  .download-app-section img {
    width: 27%;
  }
}
/*# sourceMappingURL=sassStyles.css.map */