// normalize style mixin
@mixin normalize {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: $bgColor;
}

// textStyles mixin to set font-size & font-size & color
@mixin textStyles($fontSize,$fontWeight,$textColor) {
    font-size: $fontSize;
    font-size: $fontWeight;
    color: $textColor;
}

// flexStyles mixin to set display & justify-content & align-items
@mixin flexStyles($typeFlex,$typeFlexContent,$typeFlexItem) {
    display: flex;
    flex-direction: $typeFlex;
    justify-content: $typeFlexContent;
    align-items: $typeFlexItem;
}

// borderStyles mixin to set border (width & style & color) and border-radius
@mixin borderStyles($borderWidth,$borderStyle,$borderColor,$borderRadius) {
    border: $borderWidth $borderStyle $borderColor;
    border-radius: $borderRadius;
}

// banerSize mixin to set width and height and margin baner
@mixin banerSize($width,$height,$m-y,$m-x) {
    width: $width;
    height: $height;
    margin: $m-y $m-x;

    img {
        width: 100%;
    }
}

// mediaQuery mixin to set media query
@mixin mediaQuery($screenSize) {
    @if ($screenSize == xs) {
        @media (max-width:639px) {
            @content;
        }
    } @else if ($screenSize == sm){
        @media (min-width:640px) and (max-width:767px){
            @content;
        }
    } @else if ($screenSize == md){
        @media (min-width:768px) and (max-width:1023px){
            @content;
        } 
    } @else if ($screenSize == lg){
        @media (min-width:1024px) and (max-width:1279px){
            @content;
        } 
    } @else {
        @media (min-width:1280px) {
            @content;
        } 
    }
}