@import 'variables';
@import 'mixins';

* {
    @include normalize
}

.mobile-menu{
    @include flexStyles(row,space-around,center);
    @include borderStyles(0.5px,solid,$liteGrayColor,0);

    background-color: $whiteColor;
    width: 100vw;
    padding: 7px 0;
    position: fixed;
    bottom: 0;

    a {
        @include flexStyles(column,center,center);
        @include textStyles(0.75rem,400,$darkGrayColor);

        img{
            margin-bottom: 2px;
        }

        &:hover{
            color: #214E94;
        }
    }
}

main {
    @include flexStyles(column,center,center);
}

.golab-baner{
    width: 90vw;
    height: auto;
    margin: 1.3rem 0;

    img{
        width: 100%;
    }
}

.category-1{
    @include flexStyles(row,center,center);
    
    width: 100vw;
    margin: 0.75rem 2rem;
    overflow: auto;

    li {
        margin: 0 0.4rem;
    }
    // font-weight: lighter;

    a {
        @include flexStyles(column,center,center);
        @include textStyles(1rem,100,$blackColor);

        &:hover {
            color: $liteOrangeColor;
            transition: all linear 0.2s;
        }
    }

    img {
        width: 4.3rem;
        height: 4.3rem;
        margin-bottom: 0.9rem;
    }
}

.lavashak-baner {
    width: 95vw;
    height: auto;
    margin: 1rem 0;

    img{
        width: 100%;
    }
}